#icons {
	margin: 0 auto;
	text-align: center;
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50px;
	border-radius: 1000px;
	color: $body-background-color;
	display: inline-block;
	height: 80px;
	margin: 0 8px;
	width: 80px;

	&::after {
		display: none;
	}
}

button {
	&.icon {
		font-size: 0;
		margin: 0 8px 44px;
		position: relative;

		&::after {
			color: $white;
			display: block;
			font-size: 16px;
			left: 0;
			padding-top: 4px;
			position: absolute;
			right: 0;
			top: 100%;
		}
	}
}

@mixin svg-img($url) {
	background-image: url($url);
}
