.method-describe {
	background-color: $yellow;
	background-image: url('../../svg/describe.svg');
}

.method-mime {
	background-color: $orange;
	background-image: url('../../svg/mime.svg');
}

.method-draw {
	background-color: $blue;
	background-image: url('../../svg/draw.svg');
}

.method-sing {
	background-color: $pink;
	background-image: url('../../svg/sing.svg');
}
