input[type='checkbox'] {
	appearance: none;
	background: none;
	border-radius: 100px;
	border-width: 0;
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

	&:focus {
		border-color: transparent;
	}

	& + span {
		color: $indigo-light;
		pointer-events: none;
		position: relative;
		z-index: 1;
	}

	&:checked {
		background: $indigo-light;

		& + span {
			color: $white;
		}
	}
}

.checkbox-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.checkbox-list__label {
	display: inline-block;
	margin: 8px 4px;
	padding: 8px 12px;
	position: relative;
}
