#header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#room-code {
	color: var(--indigo-lighter);
	font-size: 28px;
	font-weight: bold;
}

#settings-button {
	background-color: var(--indigo);
	background-image: url('../../svg/cog.svg');
	background-size: 60%;
	color: var(--white);
	height: var(--header-height);
	margin: 0;
	width: var(--header-height);
}
