button {
	background-color: var(--off-white);
	border: 0;
	border-radius: 0;
	color: var(--indigo);
	cursor: pointer;
	display: block;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	max-width: 320px;
	min-width: 100px;
	padding: 8px 12px;
	width: 100%;

	& + button {
		margin-top: 12px;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: var(--white);
	}

	&[disabled] {
		background-color: var(--indigo-gray);
		color: var(--gray);
		cursor: not-allowed;

		&:hover,
		&:active,
		&:focus {
			background-color: var(--indigo-gray);
		}
	}
}

.button--secondary {
	background-color: var(--indigo-light);
	color: var(--white);

	&:hover,
	&:active,
	&:focus {
		background-color: var(--indigo-lightish);
	}
}

#back {
	background-color: transparent;
	background-image: url('../../svg/chevron.svg');
	background-size: 40%;
	color: var(--white);
	height: 44px;
	left: 0;
	margin: -6px 0 0;
	position: absolute;
	top: 0;
	width: 44px;
}
