#category-list {
	margin-left: -12px;
	margin-right: -12px;
}

.category-person {
	background-color: var(--cyan);
	background-image: url('../../svg/person.svg');

	&:hover,
	&:active,
	&:focus {
		background-color: var(--cyan-light);
	}
}

button.category-person::after {
	content: 'Person';
}

.category-meme {
	background-color: var(--teal);
	background-image: url('../../svg/meme.svg');

	&:hover,
	&:active,
	&:focus {
		background-color: var(--teal-light);
	}
}

button.category-meme::after {
	content: 'Meme';
}

.category-movie {
	background-color: var(--red);
	background-image: url('../../svg/movie.svg');

	&:hover,
	&:active,
	&:focus {
		background-color: var(--red-light);
	}
}

button.category-movie::after {
	content: 'Movie';
}

.category-tv-show {
	background-color: var(--green);
	background-image: url('../../svg/tv-show.svg');

	&:hover,
	&:active,
	&:focus {
		background-color: var(--green-light);
	}
}

button.category-tv-show::after {
	content: 'TV Show';
}

.category-song {
	background-color: var(--purple);
	background-image: url('../../svg/song.svg');

	&:hover,
	&:active,
	&:focus {
		background-color: var(--purple-light);
	}
}

button.category-song::after {
	content: 'Song';
}
