.method-describe {
	background-color: var(--yellow);
	background-image: url('../../svg/describe.svg');
}

.method-mime {
	background-color: var(--orange);
	background-image: url('../../svg/mime.svg');
}

.method-draw {
	background-color: var(--blue);
	background-image: url('../../svg/draw.svg');
}

.method-sing {
	background-color: var(--pink);
	background-image: url('../../svg/sing.svg');
}
