input {
	background: var(--indigo-medium);
	border: 0;
	border-radius: 0;
	color: var(--white);
	line-height: 1.5;
	padding: 8px;
	width: 100%;

	&:focus {
		background-color: var(--indigo-mediumish);
		position: relative;
		z-index: 1;
	}
}

#code {
	text-transform: uppercase;
}

fieldset {
	border-color: var(--indigo-light);
	border-style: solid;
	border-width: 1px;
}

legend {
	font-size: 20px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0 4px;
	text-align: center;
}
